@using MobileWorld.Infrastructure.Data.QueriesAndSPDtoModels
@model List<AdCardSpViewModel>;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/SearchForm.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/CarCard.css">
</head>
<body>

    @foreach (var car in Model)
    {
        @await Html.PartialAsync("_CarCardPartial", car)
    }

</body>
</html>