
<h1>Потвърждение за изтриване</h1>
<div>
    <h5>Сигурни ли сте, че желаете да изтриете тази обява?</h5>
    <form method="post">
        <button type="submit">Да</button>
        <a asp-controller="Home" asp-action="Index">Не</a>
    </form>
</div>