<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/SearchForm.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/CarCard.css">
</head>
<body>
        

        @await Html.PartialAsync("_SearchFormPartial")

        @await Html.PartialAsync("_FeaturesPartial")


</body>
</html>
<script>

    let searchLink= document.querySelector(".detailed-search");
    searchLink.className="hide";

    let form = document.querySelector("#searchForm");
    console.log(form);

    let tableFuatures = document.querySelector("#features");


    let inputDetails = document.querySelector("#details");
    inputDetails.remove();

    let button = document.querySelector("#searchBtn");
    console.log(button);
    button.textContent="Добави обява";
</script>


