@using MobileWorld.Core.Models.ViewModels
@model List<AdCardViewModel>;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/CarCard.css">
</head>
<body>

    @if (@Model == null)
    {
        <h1>Нямате създадени обяви!</h1>

    }
    else
    {
        <h1>Това са създадените от вас обяви '@User.Identity.Name'</h1>

        @foreach (var car in Model)
        {
            @await Html.PartialAsync("_CarCardPartial", car)
        }
    }


</body>
</html>
