.label {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px;
}

#details {
    margin-top: 20px;
}
td{
   padding-right : 25px;
}
strong{
    padding-top :10px;
}

.searchBtn {
    position: absolute;
    left: 850px;
    top: 190px;
}
