.more-info {
    width: 660px;
    font-size: 15px;
    font-weight: bold;
    /*border-left: #CCC 2px solid;*/
}

.table-more-info {
    width: 660px;
    border: 0px;
}

.more-info-text {
    line-height: 24px;
    font-size: 15px;
    color: #444;
    border-bottom: #CCC 2px solid;
    /*padding-bottom: 12px;*/
}

.contacts {
    left: 0px;
    width: 660px;
    font-size: 14px;
    font-weight: bold;
    /*padding-bottom: 10px;*/
    /*margin-bottom: 10px;*/
    /*border-bottom: #CCC 2px solid;*/
    /*    margin-top: 10px;
    padding-top: 25px;*/
}

.div-contacts {
    left;
    width: 660px;
    cellspacing: 0px;
    cellpadding: 0px;
    border: "0";
    bgcolor: "#EFEFEF";
}

.owner-info {
    width: 265px;
    align: top;
    padding: 10px;
}

.owner-phone {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: #CCC 2px solid;
}

.owner-name {
    margin-top: -20px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
    border-bottom: #CCC 2px solid;
}

.owner-addres {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

.dealerData-odd {
    margin-right: 6px;
    float: left;
    padding-top: 6px;
    clear: both;
}

.dealerData-even {
    width: 150px;
    float: left;
    font-weight: 700;
    padding-top: 6px;
    font-weight: bold;
}

.hiden {
    display: none;
}

.delete-border {
    border: 3px solid #ccc;
    background-color: red;
    color: white;
    padding: 5px;
    margin-right: 20px
}

.edit-border {
    border: 3px solid #ccc;
    background-color: orange;
    color: white;
    padding: 5px;
}
