select {
    width: 40%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 15px;
}

html {
    background-repeat: no-repeat;
    background-size: 10px;
    font-size: 20px;
}

.form-control {
    display: block;
    width: 21%;
}

button, input, optgroup, select, textarea {
    margin: 0;
    margin-top: 10px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.da {
    padding-left: 200px
}
.selectors {
    margin-left: 250px;
    margin-top: -50px;
}

.labels {
    float:left;
    width:40%;
}

.div-labels {
    display: inline
}
