html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 10px;
    font-size: 16px;
}

body {
  margin-bottom: 60px;
}

.bottom-margin {
    margin-bottom: 9px;
}