<link asp-append-version="true" rel="stylesheet" href="~/css/SearchForm.css">
<link asp-append-version="true" rel="stylesheet" href="~/css/AdvancedSearch.css">
<link asp-append-version="true" rel="stylesheet" href="~/css/site.css">

<form asp-action="CarsByCriteria" asp-controller="Cars" method="get">
    @await Html.PartialAsync("_SearchPartial")
    @await Html.PartialAsync("_FeaturesPartial")
</form>


<script>
    let searchLink= document.querySelector(".detailed-search");
    searchLink.className="hide";
    let form = document.querySelector("#searchForm");
    let details = document.querySelector("#details");
    form.appendChild(details);

    let button = document.querySelector(".btn-primary");
    button.classList.add("searchBtn");
</script>