<link asp-append-version="true" rel="stylesheet" href="~/css/CarView.css">

<div class="wrapper">
    <div class="product-img">
        <img src="" class="car-img">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>title</h1>
            <h2>Description</h2>
            <h2 style="margin-top: -24px; margin-right: 160px; margin-bottom: 8px;">Price :Price</h2>
            <div class="button-holder info-button">
                <a href="/Trips/Details?tripId=3" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
        </div>
    </div>
</div>

