<link asp-append-version="true" rel="stylesheet" href="~/css/CarView.css">

@*<div class="wrapper" style="margin-left: 700px; margin-top: -270px;">
    <div class="product-img">
    <img src="http://bit.ly/2tMBBTd" height="250" width="327">
    </div>
    <div class="product-info">
    <div class="product-text">
    <h1>Harvest Vase</h1>
    <h2>by studio and friends</h2>
    <button style="position: relative; bottom: 50px;left: 190px;">Разгледай</button>
    </div>
    </div>
    </div>*@

<div class="wrapper" style="margin-left: 700px; margin-top: -270px;">
    <div class="product-img">
        <img src="" class="car-img">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>title</h1>
            <h2>Description</h2>
            <h2 style="margin-top: -24px; margin-right: 160px; margin-bottom: 8px;">Price : Price</h2>
            <div class="button-holder info-button">
                <a href="/Cars/Details?carId=3" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
        </div>
    </div>
</div>