@using MobileWorld.Core.Models.ViewModels
@model List<UserViewModel>
<h1>Users</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link asp-append-version="true" rel="stylesheet" href="~/css/Users.css">

    <title>Document</title>
</head>
<body>
    @foreach (var user in Model)
    {
        @await Html.PartialAsync("_UserPartial", user);
    }

</body>
</html>
