@using Microsoft.AspNetCore.Identity
@using MobileWorld.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/SearchForm.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/CarCard.css">
</head>
<body>

    <form asp-controller="Ads" asp-action="CreateAd" asp-route-userId=@UserManager.GetUserId(User) method="post" enctype="multipart/form-data">

        @await Html.PartialAsync("_SearchPartial")
        @await Html.PartialAsync("_CreateAdPartial")

        <a>Изберете желаните от вас снимки</a>
        <input class="form-control" type="file" id="file1" name="file1" multiple />

        @await Html.PartialAsync("_FeaturesPartial")

    </form>

</body>
</html>
<script>
    let searchLink= document.querySelector(".detailed-search");
    searchLink.remove();

    let inputDetails = document.querySelector("#details");
    inputDetails.remove();

    let button = document.querySelector("#searchBtn");
    console.log(button);
    button.textContent="Добави обява";

    let searchFrom=document.querySelector("#searchElements");

    let userData=document.querySelector("#userData");

    searchFrom.appendChild(userData);

</script>