@using MobileWorld.Core.ViewModels
@model CarCardViewModel


<div class="wrapper">
    <div class="product-img">
        <img src="@Model.Url" class="car-img">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@Model.Title</h1>
            <h2>@Model.Description</h2>
            <h2 style="margin-top: -24px; margin-right: 160px; margin-bottom: 8px;">Price : @Model.Price</h2>
            <div class="button-holder info-button">
                <a href="/Cars/Details?carId=@Model.CarId" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
        </div>
    </div>
</div>

