@using MobileWorld.Core.ViewModels
@model AdCardViewModel


<div class="wrapper">
    <div class="product-img">
        <img src="@Model.Url" class="car-img">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@Model.Title</h1>
            <hr class="split-line">
            <h2>@Model.Description</h2>
            <hr class="split-line">
            <h3 class="product-price">Price : @Model.Price</h3>
            <div class="button-holder info-button">
                <a href="/Ads/AdDetails?adId=@Model.AdId" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
        </div>
    </div>
</div>