@using MobileWorld.Infrastructure.Data.QueriesAndSPDtoModels
@model AdSpViewModel


<div class="wrapper">
    <div class="product-img">
        @*<img class="d-block w-100" alt="IMAGES" src="~/Uploads/@Model.ImageTitle"  />*@
        <img class="d-block w-100 product-img-img" src="~/Uploads/@Model.ImageTitle" alt="IMAGES" />
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@Model.Title</h1>
            <hr class="split-line">
            <h2>@Model.Description</h2>
            <hr class="split-line">
            <h3 class="product-price">Price : @Model.Price</h3>
            <div class="button-holder info-button">
                <a href="/Ad/Ad?adId=@Model.AdId" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
        </div>
    </div>
</div>