<table id="details">
    <tbody>
        <tr>
            <td valign="top">
                <label class="extra_cat">Безопасност</label>
                <div>
                    <input type="checkbox" data-val="true" name="gps" value="true">
                    <label for="gps">GPS система за проследяване</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="automatic-stability-control" value="true">
                    <label for="automatic-stability-control">Автоматичен контрол на стабилността</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="adaptive-front-lights" value="true">
                    <label for="adaptive-front-lights">Адаптивни предни светлини</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="abs" value="true">
                    <label for="abs">Антиблокираща система</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="el-breaks" value="true">
                    <label for="el-breaks">Ел. разпределяне на спирачното усилие</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="esp" value="true">
                    <label for="esp">Електронна програма за стабилизиране</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="tire-pressure" value="true">
                    <label for="tire-pressure">Контрол на налягането на гумите</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="park-pilot" value="true">
                    <label for="park-pilot">Парктроник</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="isofix" value="true">
                    <label for="isofix">Система ISOFIX</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="dynamic-stability-system" value="true">
                    <label for="dynamic-stability-system">Система за динамична устойчивост</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="slip-protection-system" value="true">
                    <label for="slip-protection-system">Система за защита от пробуксуванет</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="dry-brakes-system" value="true">
                    <label for="dry-brakes-system">Система за изсушаване на накладките</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="distronic" value="true">
                    <label for="distronic">Система за контрол на дистанцията</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="hill-descent-controll" value="true">
                    <label for="hill-descent-controll">Система за контрол на спускането</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="brake-assist" value="true">
                    <label for="brake-assist">Система за подпомагане на спирането</label>
                </div>
            </td>
            <td valign="top">
                <label class="extra_cat">Комфорт</label><br><label onmouseover="javascript:ShowExtriDescription(this,'ASS, ISG');" onmouseout="javascript:HideExtriDescription();"><img id="eimg50" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f50);" align="absmiddle"><input type="hidden" name="f50" value="0~Auto Start Stop function" id="f50"> <span onclick="javascript:extrich(document.getElementById('eimg50'), document.getElementById('f50'));">Auto Start Stop function<img src="//www.mobile.bg/images/picturess/info.jpg" width="16" height="16" style="margin:2px 0 -2px 0;"></span></label><br>
                 <div>
                    <input type="checkbox" data-val="true" name="auto-start-stop" value="true">
                    <label for="auto-start-stop">Auto Start Stop function</label>
                </div>
                 <div>
                    <input type="checkbox" data-val="true" name="dvd-tv" value="true">
                    <label for="dvd-tv">DVD, TV</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="bluetooth-handsfree" value="true">
                    <label for="bluetooth-handsfree">Bluetooth \ handsfree система</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="steptronic-tiptronic" value="true">
                    <label for="steptronic-tiptronic">Steptronic, Tiptronic</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="usb" value="true">
                    <label for="usb">USB, audio\video, IN\AUX изводи</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="airmatic" value="true">
                    <label for="airmatic">Адаптивно въздушно окачване</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="keyless" value="true">
                    <label for="keyless">Безключово палене</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="differential-lock" value="true">
                    <label for="differential-lock">Блокаж на диференциала</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="bord-pc" value="true">
                    <label for="bord-pc">Бордкомпютър</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="fast-slow-shifts" value="true">
                    <label for="fast-slow-shifts">Бързи \ бавни скорости</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="light-detector" value="true">
                    <label for="light-detector">Датчик за светлина</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="el-mirrors" value="true">
                    <label for="el-mirrors">Ел. Огледала</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="el-glass" value="true">
                    <label for="el-glass">Ел. Стъкла</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="el-suspension" value="true">
                    <label for="el-suspension">Ел. регулиране на окачването</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="el-seats" value="true">
                    <label for="el-seats">Ел. регулиране на седалките</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="eps" value="true">
                    <label for="eps">Ел. усилвател на волана</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="ac" value="true">
                    <label for="ac">Климатик</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="climatecontroll" value="true">
                    <label for="climatecontroll">Климатроник</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="multi-steering-wheel" value="true">
                    <label for="multi-steering-wheel">Мултифункционален волан</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="navigation" value="true">
                    <label for="navigation">Навигация</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="steering-wheel-heating" value="true">
                    <label for="steering-wheel-heating">Отопление на волана</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="front-glass-heating" value="true">
                    <label for="front-glass-heating">Подгряване на предното стъкло</label>
                </div>
                 <div>
                    <input type="checkbox" data-val="true" name="seats-heating" value="true">
                    <label for="seats-heating">Подгряване на седалките</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="steering-wheel-adjustment" value="true">
                    <label for="steering-wheel-adjustment">Регулиране на волана</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="rain-sensor" value="true">
                    <label for="rain-sensor">Сензор за дъжд</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="power-steering" value="true">
                    <label for="power-steering">Серво усилвател на волана</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="headlamp-wash-system" value="true">
                    <label for="headlamp-wash-system">Система за измиване на фаровете</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="autopilot" value="true">
                    <label for="autopilot">Система за контрол на скоростта (автопилот)</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="stereo" value="true">
                    <label for="stereo">Стерео уредба</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="filter" value="true">
                    <label for="filter">Филтър за твърди частици</label>
                </div>
                <div>
                    <input type="checkbox" data-val="true" name="refrigeration-frog" value="true">
                    <label for="refrigeration-frog">Хладилна жабка</label>
                </div>
            </td>
            <td valign="top">
                <label class="extra_cat">Други</label><br><label><img id="eimg82" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f82);" align="absmiddle"><input type="hidden" name="f82" value="0~4x4" id="f82"> <span onclick="javascript:extrich(document.getElementById('eimg82'), document.getElementById('f82'));">4x4</span></label><br>
                <label><img id="eimg83" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f83);" align="absmiddle"><input type="hidden" name="f83" value="0~7 места" id="f83"> <span onclick="javascript:extrich(document.getElementById('eimg83'), document.getElementById('f83'));">7 места</span></label><br>
                <label><img id="eimg84" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f84);" align="absmiddle"><input type="hidden" name="f84" value="0~Buy back" id="f84"> <span onclick="javascript:extrich(document.getElementById('eimg84'), document.getElementById('f84'));">Buy back</span></label><br>
                <label><img id="eimg85" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f85);" align="absmiddle"><input type="hidden" name="f85" value="0~Бартер" id="f85"> <span onclick="javascript:extrich(document.getElementById('eimg85'), document.getElementById('f85'));">Бартер</span></label><br>
                <label><img id="eimg86" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f86);" align="absmiddle"><input type="hidden" name="f86" value="0~Газова уредба" id="f86"> <span onclick="javascript:extrich(document.getElementById('eimg86'), document.getElementById('f86'));">Газова уредба</span></label><br>
                <label><img id="eimg87" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f87);" align="absmiddle"><input type="hidden" name="f87" value="0~Дълга база" id="f87"> <span onclick="javascript:extrich(document.getElementById('eimg87'), document.getElementById('f87'));">Дълга база</span></label><br>
                <label><img id="eimg88" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f88);" align="absmiddle"><input type="hidden" name="f88" value="0~Капариран\Продаден" id="f88"> <span onclick="javascript:extrich(document.getElementById('eimg88'), document.getElementById('f88'));">Капариран\Продаден</span></label><br>
                <label><img id="eimg89" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f89);" align="absmiddle"><input type="hidden" name="f89" value="0~Катастрофирал" id="f89"> <span onclick="javascript:extrich(document.getElementById('eimg89'), document.getElementById('f89'));">Катастрофирал</span></label><br>
                <label><img id="eimg90" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f90);" align="absmiddle"><input type="hidden" name="f90" value="0~Къса база" id="f90"> <span onclick="javascript:extrich(document.getElementById('eimg90'), document.getElementById('f90'));">Къса база</span></label><br>
                <label><img id="eimg91" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f91);" align="absmiddle"><input type="hidden" name="f91" value="0~Лизинг" id="f91"> <span onclick="javascript:extrich(document.getElementById('eimg91'), document.getElementById('f91'));">Лизинг</span></label><br>
                <label><img id="eimg92" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f92);" align="absmiddle"><input type="hidden" name="f92" value="0~Метанова уредба" id="f92"> <span onclick="javascript:extrich(document.getElementById('eimg92'), document.getElementById('f92'));">Метанова уредба</span></label><br>
                <label><img id="eimg93" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f93);" align="absmiddle"><input type="hidden" name="f93" value="0~На части" id="f93"> <span onclick="javascript:extrich(document.getElementById('eimg93'), document.getElementById('f93'));">На части</span></label><br>
                <label><img id="eimg94" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f94);" align="absmiddle"><input type="hidden" name="f94" value="0~Напълно обслужен" id="f94"> <span onclick="javascript:extrich(document.getElementById('eimg94'), document.getElementById('f94'));">Напълно обслужен</span></label><br>
                <label><img id="eimg95" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f95);" align="absmiddle"><input type="hidden" name="f95" value="0~Нов внос" id="f95"> <span onclick="javascript:extrich(document.getElementById('eimg95'), document.getElementById('f95'));">Нов внос</span></label><br>
                <label><img id="eimg96" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f96);" align="absmiddle"><input type="hidden" name="f96" value="0~С право на дан.к-т" id="f96"> <span onclick="javascript:extrich(document.getElementById('eimg96'), document.getElementById('f96'));">С право на дан.к-т</span></label><br>
                <label><img id="eimg97" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f97);" align="absmiddle"><input type="hidden" name="f97" value="0~С регистрация" id="f97"> <span onclick="javascript:extrich(document.getElementById('eimg97'), document.getElementById('f97'));">С регистрация</span></label><br>
                <label><img id="eimg98" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f98);" align="absmiddle"><input type="hidden" name="f98" value="0~Сервизна книжка" id="f98"> <span onclick="javascript:extrich(document.getElementById('eimg98'), document.getElementById('f98'));">Сервизна книжка</span></label><br>
                <label><img id="eimg99" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f99);" align="absmiddle"><input type="hidden" name="f99" value="0~Тунинг" id="f99"> <span onclick="javascript:extrich(document.getElementById('eimg99'), document.getElementById('f99'));">Тунинг</span></label><br>
                <label class="extra_cat">Екстериор</label><br><label><img id="eimg100" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f100);" align="absmiddle"><input type="hidden" name="f100" value="0~2(3) Врати" id="f100"> <span onclick="javascript:extrich(document.getElementById('eimg100'), document.getElementById('f100'));">2(3) Врати</span></label><br>
                <label><img id="eimg101" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f101);" align="absmiddle"><input type="hidden" name="f101" value="0~4(5) Врати" id="f101"> <span onclick="javascript:extrich(document.getElementById('eimg101'), document.getElementById('f101'));">4(5) Врати</span></label><br>
                <label><img id="eimg102" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f102);" align="absmiddle"><input type="hidden" name="f102" value="0~LED фарове" id="f102"> <span onclick="javascript:extrich(document.getElementById('eimg102'), document.getElementById('f102'));">LED фарове</span></label><br>
                <label><img id="eimg103" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f103);" align="absmiddle"><input type="hidden" name="f103" value="0~Ксенонови фарове" id="f103"> <span onclick="javascript:extrich(document.getElementById('eimg103'), document.getElementById('f103'));">Ксенонови фарове</span></label><br>
                <label><img id="eimg104" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f104);" align="absmiddle"><input type="hidden" name="f104" value="0~Лети джанти" id="f104"> <span onclick="javascript:extrich(document.getElementById('eimg104'), document.getElementById('f104'));">Лети джанти</span></label><br>
                <label><img id="eimg105" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f105);" align="absmiddle"><input type="hidden" name="f105" value="0~Металик" id="f105"> <span onclick="javascript:extrich(document.getElementById('eimg105'), document.getElementById('f105'));">Металик</span></label><br>
                <label><img id="eimg106" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f106);" align="absmiddle"><input type="hidden" name="f106" value="0~Отопляеми чистачки" id="f106"> <span onclick="javascript:extrich(document.getElementById('eimg106'), document.getElementById('f106'));">Отопляеми чистачки</span></label><br>
                <label><img id="eimg107" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f107);" align="absmiddle"><input type="hidden" name="f107" value="0~Панорамен люк" id="f107"> <span onclick="javascript:extrich(document.getElementById('eimg107'), document.getElementById('f107'));">Панорамен люк</span></label><br>
                <label><img id="eimg108" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f108);" align="absmiddle"><input type="hidden" name="f108" value="0~Рейлинг на покрива" id="f108"> <span onclick="javascript:extrich(document.getElementById('eimg108'), document.getElementById('f108'));">Рейлинг на покрива</span></label><br>
                <label><img id="eimg109" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f109);" align="absmiddle"><input type="hidden" name="f109" value="0~Ролбари" id="f109"> <span onclick="javascript:extrich(document.getElementById('eimg109'), document.getElementById('f109'));">Ролбари</span></label><br>
                <label><img id="eimg110" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f110);" align="absmiddle"><input type="hidden" name="f110" value="0~Спойлери" id="f110"> <span onclick="javascript:extrich(document.getElementById('eimg110'), document.getElementById('f110'));">Спойлери</span></label><br>
                <label><img id="eimg111" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f111);" align="absmiddle"><input type="hidden" name="f111" value="0~Теглич" id="f111"> <span onclick="javascript:extrich(document.getElementById('eimg111'), document.getElementById('f111'));">Теглич</span></label><br>
                <label><img id="eimg112" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f112);" align="absmiddle"><input type="hidden" name="f112" value="0~Халогенни фарове" id="f112"> <span onclick="javascript:extrich(document.getElementById('eimg112'), document.getElementById('f112'));">Халогенни фарове</span></label><br>
                <label><img id="eimg113" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f113);" align="absmiddle"><input type="hidden" name="f113" value="0~Шибедах" id="f113"> <span onclick="javascript:extrich(document.getElementById('eimg113'), document.getElementById('f113'));">Шибедах</span></label><br>
            </td>
            <td valign="top">
                <label class="extra_cat">Защита</label><br><label><img id="eimg114" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f114);" align="absmiddle"><input type="hidden" name="f114" value="0~OFFROAD пакет" id="f114"> <span onclick="javascript:extrich(document.getElementById('eimg114'), document.getElementById('f114'));">OFFROAD пакет</span></label><br>
                <label><img id="eimg115" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f115);" align="absmiddle"><input type="hidden" name="f115" value="0~Аларма" id="f115"> <span onclick="javascript:extrich(document.getElementById('eimg115'), document.getElementById('f115'));">Аларма</span></label><br>
                <label><img id="eimg116" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f116);" align="absmiddle"><input type="hidden" name="f116" value="0~Брониран" id="f116"> <span onclick="javascript:extrich(document.getElementById('eimg116'), document.getElementById('f116'));">Брониран</span></label><br>
                <label><img id="eimg117" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f117);" align="absmiddle"><input type="hidden" name="f117" value="0~Имобилайзер" id="f117"> <span onclick="javascript:extrich(document.getElementById('eimg117'), document.getElementById('f117'));">Имобилайзер</span></label><br>
                <label><img id="eimg118" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f118);" align="absmiddle"><input type="hidden" name="f118" value="0~Каско" id="f118"> <span onclick="javascript:extrich(document.getElementById('eimg118'), document.getElementById('f118'));">Каско</span></label><br>
                <label><img id="eimg119" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f119);" align="absmiddle"><input type="hidden" name="f119" value="0~Лебедка" id="f119"> <span onclick="javascript:extrich(document.getElementById('eimg119'), document.getElementById('f119'));">Лебедка</span></label><br>
                <label><img id="eimg120" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f120);" align="absmiddle"><input type="hidden" name="f120" value="0~Подсилени стъкла" id="f120"> <span onclick="javascript:extrich(document.getElementById('eimg120'), document.getElementById('f120'));">Подсилени стъкла</span></label><br>
                <label><img id="eimg121" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f121);" align="absmiddle"><input type="hidden" name="f121" value="0~Централно заключване" id="f121"> <span onclick="javascript:extrich(document.getElementById('eimg121'), document.getElementById('f121'));">Централно заключване</span></label><br>
                <label class="extra_cat">Интериор</label><br><label><img id="eimg122" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f122);" align="absmiddle"><input type="hidden" name="f122" value="0~Велурен салон" id="f122"> <span onclick="javascript:extrich(document.getElementById('eimg122'), document.getElementById('f122'));">Велурен салон</span></label><br>
                <label><img id="eimg123" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f123);" align="absmiddle"><input type="hidden" name="f123" value="0~Десен волан" id="f123"> <span onclick="javascript:extrich(document.getElementById('eimg123'), document.getElementById('f123'));">Десен волан</span></label><br>
                <label><img id="eimg124" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f124);" align="absmiddle"><input type="hidden" name="f124" value="0~Кожен салон" id="f124"> <span onclick="javascript:extrich(document.getElementById('eimg124'), document.getElementById('f124'));">Кожен салон</span></label><br>
                <label class="extra_cat">Специализирани</label><br><label><img id="eimg125" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f125);" align="absmiddle"><input type="hidden" name="f125" value="0~TAXI" id="f125"> <span onclick="javascript:extrich(document.getElementById('eimg125'), document.getElementById('f125'));">TAXI</span></label><br>
                <label onmouseover="javascript:ShowExtriDescription(this,'Инвалиден');" onmouseout="javascript:HideExtriDescription();"><img id="eimg126" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f126);" align="absmiddle"><input type="hidden" name="f126" value="0~За хора с увреждания" id="f126"> <span onclick="javascript:extrich(document.getElementById('eimg126'), document.getElementById('f126'));">За хора с увреждания<img src="//www.mobile.bg/images/picturess/info.jpg" width="16" height="16" style="margin:2px 0 -2px 0;"></span></label><br>
                <label><img id="eimg127" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f127);" align="absmiddle"><input type="hidden" name="f127" value="0~Катафалка" id="f127"> <span onclick="javascript:extrich(document.getElementById('eimg127'), document.getElementById('f127'));">Катафалка</span></label><br>
                <label><img id="eimg128" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f128);" align="absmiddle"><input type="hidden" name="f128" value="0~Линейка" id="f128"> <span onclick="javascript:extrich(document.getElementById('eimg128'), document.getElementById('f128'));">Линейка</span></label><br>
                <label><img id="eimg129" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f129);" align="absmiddle"><input type="hidden" name="f129" value="0~Учебен" id="f129"> <span onclick="javascript:extrich(document.getElementById('eimg129'), document.getElementById('f129'));">Учебен</span></label><br>
                <label><img id="eimg130" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f130);" align="absmiddle"><input type="hidden" name="f130" value="0~Хладилен" id="f130"> <span onclick="javascript:extrich(document.getElementById('eimg130'), document.getElementById('f130'));">Хладилен</span></label><br>
                <label><img id="eimg131" src="//www.mobile.bg/images/picturess/chk0.gif" width="19" height="19" border="0" onclick="javascript:extrich(this,document.search.f131);" align="absmiddle"><input type="hidden" name="f131" value="0~Хомологация N1" id="f131"> <span onclick="javascript:extrich(document.getElementById('eimg131'), document.getElementById('f131'));">Хомологация N1</span></label><br>
            </td>
        </tr>
    </tbody>
</table>