<div>
    <table id="features">
        <tbody>
            <tr>
                <td style="padding-right: 30px;" valign="top">
                    <strong>Спецификация на двигателя</strong>
                    <div>
                        <input name="Features.EngineDetails.Hybrid" type="checkbox" data-val="true" value="true">
                        <label name="Features.EngineDetails.Hybrid">Хибридна система</label>
                    </div>
                    <div>
                        <input name="Features.EngineDetails.AutoGas" type="checkbox" data-val="true" value="true">
                        <label name="Features.EngineDetails.AutoGas">Газова уредба</label>
                    </div>
                    <strong>Безопасност</strong>
                    <div>
                        <input name="Features.SafetyDetails.Gps" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.Gps">GPS система за пропредияване</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.AutomaticStabilityControl" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.AutomaticStabilityControl">Автоматичен контрол на стабилността</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.AdaptiveFrontLights" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.AdaptiveFrontLights">Адаптивни предни светлини</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.Abs" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.Abs">Антиблокираща система</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.ElBreaks" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.ElBreaks">Ел. разпределяне на спирачното усилие</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.Esp" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.Esp">Електронна програма за стабилизиране</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.TirePressure" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.TirePressure">Контрол на налягането на гумите</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.ParkPilot" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.ParkPilot">Парктроник</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.IsoFix" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.IsoFix">Система ISOFIX</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.DynamicStabilitySystem" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.DynamicStabilitySystem">Система за динамична устойчивост</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.SlipProtectionSystem" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.SlipProtectionSystem">Система за защита от пробуксуванет</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.DryBrakesSystem" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.DryBrakesSystem">Система за изсушаване на накладките</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.Distronic" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.Distronic">Система за контрол на дистанцията</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.HillDescentControll" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.HillDescentControll">Система за контрол на спускането</label>
                    </div>
                    <div>
                        <input name="Features.SafetyDetails.BrakeAssist" type="checkbox" data-val="true" value="true">
                        <label name="Features.SafetyDetails.BrakeAssist">Система за подпомагане на спирането</label>
                    </div>
                </td>
                <td valign="top">
                    <strong>Комфорт</strong>
                    <div>
                        <input name="Features.ComfortDetails.AutoStartStop" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.AutoStartStop">Auto Start Stop function</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.DvdTv" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.DvdTv">DVD, TV</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.BluetoothHandsfree" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.BluetoothHandsfree">Bluetooth \ handsfree система</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.SteptronicTiptronic" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.SteptronicTiptronic">Steptronic, Tiptronic</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Usb" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.Usb">USB, audio\video, IN\AUX изводи</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Airmatic" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.Airmatic">Адаптивно въздушно окачване</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Keyless" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.Keyless">Безключово палене</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.DifferentialLock" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.DifferentialLock">Блокаж на диференциала</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.BordPc" type="checkbox" data-val="true" value="true">
                        <label name="Features.ComfortDetails.BordPc">Бордкомпютър</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.FastSlowShifts" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.FastSlowShifts">Бързи \ бавни скорости</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.LightDetector" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.LightDetector">Датчик за светлина</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.ElMirrors" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.ElMirrors">Ел. Огледала</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.ElGlass" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.ElGlass">Ел. Стъкла</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.ElSuspension" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.ElSuspension">Ел. регулиране на окачването</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.ElSeats" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.ElSeats">Ел. регулиране на седалките</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Eps" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.Eps">Ел. усилвател на волана</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Ac" type="checkbox" data-val="true" value="true">
                        <label for="Features.ComfortDetails.Ac">Климатик</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Climatecontroll" type="checkbox" data-val="true" value="true">
                        <label for="climatecontroll">Климатроник</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.MultiSteeringWheel" type="checkbox" data-val="true" value="true">
                        <label for="multi-steering-wheel">Мултифункционален волан</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Navigation" type="checkbox" data-val="true" value="true">
                        <label for="navigation">Навигация</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.SteeringWheelHeating" type="checkbox" data-val="true" value="true">
                        <label for="steering-wheel-heating">Отопление на волана</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.FrontGlassHeating" type="checkbox" data-val="true" value="true">
                        <label for="front-glass-heating">Подгряване на предното стъкло</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.SeatsHeating" type="checkbox" data-val="true" value="true">
                        <label for="seats-heating">Подгряване на седалките</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.SteeringWheelAdjustment" type="checkbox" data-val="true" value="true">
                        <label for="steering-wheel-adjustment">Регулиране на волана</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.RainSensor" type="checkbox" data-val="true" value="true">
                        <label for="rain-sensor">Сензор за дъжд</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.PowerSteering" type="checkbox" data-val="true" value="true">
                        <label for="power-steering">Серво усилвател на волана</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.HeadlampWashSystem" type="checkbox" data-val="true" value="true">
                        <label for="headlamp-wash-system">Система за измиване на фаровете</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Autopilot" type="checkbox" data-val="true" value="true">
                        <label for="autopilot">Система за контрол на скоростта (автопилот)</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Stereo" type="checkbox" data-val="true" value="true">
                        <label for="stereo">Стерео уредба</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.Filter" type="checkbox" data-val="true" value="true">
                        <label for="filter">Филтър за твърди частици</label>
                    </div>
                    <div>
                        <input name="Features.ComfortDetails.RefrigerationFrog" type="checkbox" data-val="true" value="true">
                        <label for="refrigeration-frog">Хладилна жабка</label>
                    </div>
                </td>
                <td valign="top">
                    <strong>Други</strong>
                    <div>
                        <input name="Features.OthersDetails.AllDrive" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.AllDrive">4x4</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.SevenSeats" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.SevenSeats">7 места</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.BuyBack" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.BuyBack">Buy back</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.Exchange" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.Exchange">Бартер</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.AutoGas" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.AutoGas">Газова уредба</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.Long" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.Long">Дълга база</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.Catastrophic" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.Catastrophic">Катастрофирал</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.Leasing" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.Leasing">Лизинг</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.MethaneSystem" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.MethaneSystem">Метанова уредба</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.InPieces" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.InPieces">На части</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.FullyServed" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.FullyServed">Напълно обслужен</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.Registration" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.Registration">С регистрация</label>
                    </div>
                    <div>
                        <input name="Features.OthersDetails.Tuning" type="checkbox" data-val="true" value="true">
                        <label for="Features.OthersDetails.Tuning">Тунинг</label>
                    </div>
                    <strong>Екстериор</strong>
                    <div>
                        <input name="Features.ExteriorDetails.Coupe" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.Coupe">2(3) Врати</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.Sedan" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.Sedan">4(5) Врати</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.LedHeadlights" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.LedHeadlights">LED фарове</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.XenonLights" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.XenonLights">Ксенонови фарове</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.AlloyWheels" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.AlloyWheels">Лети джанти</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.Metallic" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.Metallic">Металик</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.PanoramicSunroof" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.PanoramicSunroof">Панорамен люк</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.Spoilers" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.Spoilers">Спойлери</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.Shibedah" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.Shibedah">Шибедах</label>
                    </div>
                    <div>
                        <input name="Features.ExteriorDetails.HalogenHeadlights" type="checkbox" data-val="true" value="true">
                        <label for="Features.ExteriorDetails.HalogenHeadlights">Халогенни фарове</label>
                    </div>
                </td>
                <td valign="top">
                    <strong>Защита</strong>
                   @* <div>
                        <input type="checkbox" data-val="true" name="offroad-pack" value="true">
                        <label for="offroad-pack">OFFROAD пакет</label>
                    </div>*@
                    <div>
                        <input name="Features.ProtectionDetails.Alarm" type="checkbox" data-val="true" value="true">
                        <label for="alarm">Аларма</label>
                    </div>
                    <div>
                        <input name="Features.ProtectionDetails.Armored" type="checkbox" data-val="true" value="true">
                        <label for="armored">Брониран</label>
                    </div>
                    <div>
                        <input name="Features.ProtectionDetails.Immobilizer" type="checkbox" data-val="true" value="true">
                        <label for="immobilizer">Имобилайзер</label>
                    </div>
                    <div>
                        <input name="Features.ProtectionDetails.Casco" type="checkbox" data-val="true" value="true">
                        <label for="Casco">Каско</label>
                    </div>
                    <div>
                        <input name="Features.ProtectionDetails.CentralLocking" type="checkbox" data-val="true" value="true">
                        <label for="central-locking">Централно заключване</label>
                    </div>
                    <strong>Интериор</strong>
                    <div>
                        <input name="Features.InteriorDetails.SuedeSaloon" type="checkbox" data-val="true" value="true">
                        <label for="suede-saloon">Велурен салон</label>
                    </div>
                    <div>
                        <input name="Features.InteriorDetails.LeatherSalon" type="checkbox" data-val="true" value="true">
                        <label for="leather-salon">Кожен салон</label>
                    </div>
                    <strong>Специализирани</strong>
                    <div>
                        <input name="Features.InteriorDetails.Taxi" type="checkbox" data-val="true" value="true">
                        <label for="taxi">TAXI</label>
                    </div>
                    <div>
                        <input name="Features.InteriorDetails.Educational" type="checkbox" data-val="true" value="true">
                        <label for="educational">Учебен</label>
                    </div>
                    <div>
                        <input name="Features.InteriorDetails.Ruler" type="checkbox" data-val="true" value="true">
                        <label for="ruler">Линейка</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
