@using MobileWorld.Core.Models
@model UserViewModel

<div style="margin-bottom:5px; border-color:grey;">
    <strong>ИД : </strong>
    [@Model.Id]
    <strong> | </strong>
    <strong>Потребителско име : </strong>
    [@Model.UserName]
    <strong> | </strong>
    <strong>Роля : </strong>
    [@Model.Role]
    <a class="delete-border" asp-action="Delete" asp-route-adId="@Model.Id">Изтрий</a>
    <a class="edit-border" asp-action="Edit" asp-route-adId="@Model.Id">Редактирай</a>
</div>

