@using MobileWorld.Core.Models
@model UserViewModel

<div style="margin-bottom:5px; border-color:grey;">
    <strong>ИД : </strong>
    [@Model.Id]
    <strong> | </strong>
    <strong>Потребителско име : </strong>
    [@Model.UserName]
    <strong> | </strong>
    <strong>Роля : </strong>
    [@String.Join(", ", Model.Roles)]
    <a class="delete-border" asp-controller="Admin" asp-action="Delete" asp-route-userId="@Model.Id">Изтрий</a>
    <a class="edit-border" asp-controller="Admin" asp-action="EditUser" asp-route-userId="@Model.Id">Редактирай</a>
</div>

