@using MobileWorld.Core.Models
@model UserViewModel

<div style="margin-bottom:5px; border-color:grey;">
    <label>ИД : @Model.Id | </label>
    <label>Потребителско име : @Model.UserName | </label>
    <label>Роля : @Model.Role</label>
</div>

