@{
    ViewData["Title"] = "Home Page";
}
@using MobileWorld.Core.ViewModels.CarViewModels
@model List<AdCardViewModel>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/SearchForm.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/CarCard.css">
</head>
<body>

    @await Html.PartialAsync("_SearchFormPartial")

    @foreach (var car in Model)
    {
        @await Html.PartialAsync("_CarCardPartial", car)
    }

</body>
</html>

@*<script type="text/javascript">
           function AlertName() {
        var selectedMake = document.querySelector("#make-input");
        var value = selectedMake.options[selectedMake.selectedIndex].value;
        console.log(value)
        alert('You clicked ');
    }
</script>*@
